In [22]:
import pandas as pd

a = pd.read_csv('sample.csv')
print(a)

      Order Date     Customer Name    Segment             City       State  \
0      11/8/2016       Claire Gute   Consumer        Henderson    Kentucky
1      11/8/2016       Claire Gute   Consumer        Henderson    Kentucky
2      6/12/2016   Darrin Van Huff  Corporate      Los Angeles  California
3     10/11/2015    Sean O'Donnell   Consumer  Fort Lauderdale     Florida
4     10/11/2015    Sean O'Donnell   Consumer  Fort Lauderdale     Florida
...          ...               ...        ...              ...         ...
9989   1/21/2014  Tom Boeckenhauer   Consumer            Miami     Florida
9990   2/26/2017       Dave Brooks   Consumer       Costa Mesa  California
9991   2/26/2017       Dave Brooks   Consumer       Costa Mesa  California
9992   2/26/2017       Dave Brooks   Consumer       Costa Mesa  California
9993    5/4/2017      Chris Cortes   Consumer      Westminster  California

      Postal Code Region         Category Sub-Category     Sales  Quantity  \
0           42420  South        Furniture    Bookcases  261.9600         2
1           42420  South        Furniture       Chairs  731.9400         3
2           90036   West  Office Supplies       Labels   14.6200         2
3           33311  South        Furniture       Tables  957.5775         5
4           33311  South  Office Supplies      Storage   22.3680         2
...           ...    ...              ...          ...       ...       ...
9989        33180  South        Furniture  Furnishings   25.2480         3
9990        92627   West        Furniture  Furnishings   91.9600         2
9991        92627   West       Technology       Phones  258.5760         2
9992        92627   West  Office Supplies        Paper   29.6000         4
9993        92683   West  Office Supplies   Appliances  243.1600         2

        Profit
0      41.9136
1     219.5820
2       6.8714
3    -383.0310
4       2.5164
...        ...
9989    4.1028
9990   15.6332
9991   19.3932
9992   13.3200
9993   72.9480

[9994 rows x 12 columns]

In [3]:
a.head()

,Order Date,Customer Name,Segment,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Profit
0,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,41.9136
1,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,219.5820
2,6/12/2016,Darrin Van Huff,Corporate,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,6.8714
3,10/11/2015,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,-383.0310
4,10/11/2015,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,2.5164

In [4]:
a.tail()

,Order Date,Customer Name,Segment,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Profit
9989,1/21/2014,Tom Boeckenhauer,Consumer,Miami,Florida,33180,South,Furniture,Furnishings,25.248,3,4.1028
9990,2/26/2017,Dave Brooks,Consumer,Costa Mesa,California,92627,West,Furniture,Furnishings,91.960,2,15.6332
9991,2/26/2017,Dave Brooks,Consumer,Costa Mesa,California,92627,West,Technology,Phones,258.576,2,19.3932
9992,2/26/2017,Dave Brooks,Consumer,Costa Mesa,California,92627,West,Office Supplies,Paper,29.600,4,13.3200
9993,5/4/2017,Chris Cortes,Consumer,Westminster,California,92683,West,Office Supplies,Appliances,243.160,2,72.9480

In [7]:
a.head(5)

,Order Date,Customer Name,Segment,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Profit
0,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,41.9136
1,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,219.5820
2,6/12/2016,Darrin Van Huff,Corporate,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,6.8714
3,10/11/2015,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,-383.0310
4,10/11/2015,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,2.5164

In [8]:
a.columns

Index(['Order Date', 'Customer Name', 'Segment', 'City', 'State',
       'Postal Code', 'Region', 'Category', 'Sub-Category', 'Sales',
       'Quantity', 'Profit'],
      dtype='object')

In [10]:
a.index

RangeIndex(start=0, stop=9994, step=1)

In [11]:
a.describe()

        Postal Code         Sales     Quantity       Profit
count   9994.000000   9994.000000  9994.000000  9994.000000
mean   55190.379428    229.858001     3.789574    28.656896
std    32063.693350    623.245101     2.225110   234.260108
min     1040.000000      0.444000     1.000000 -6599.978000
25%    23223.000000     17.280000     2.000000     1.728750
50%    56430.500000     54.490000     3.000000     8.666500
75%    90008.000000    209.940000     5.000000    29.364000
max    99301.000000  22638.480000    14.000000  8399.976000

In [12]:
a.columns

Index(['Order Date', 'Customer Name', 'Segment', 'City', 'State',
       'Postal Code', 'Region', 'Category', 'Sub-Category', 'Sales',
       'Quantity', 'Profit'],
      dtype='object')

In [5]:
a[['Order Date','Customer Name']].head(5)

   Order Date    Customer Name
0   11/8/2016      Claire Gute
1   11/8/2016      Claire Gute
2   6/12/2016  Darrin Van Huff
3  10/11/2015   Sean O'Donnell
4  10/11/2015   Sean O'Donnell

In [10]:
a[1:7]

,Order Date,Customer Name,Segment,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Profit
1,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,219.5820
2,6/12/2016,Darrin Van Huff,Corporate,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,6.8714
3,10/11/2015,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,-383.0310
4,10/11/2015,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,2.5164
5,6/9/2014,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Furniture,Furnishings,48.8600,7,14.1694
6,6/9/2014,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Office Supplies,Art,7.2800,4,1.9656

In [15]:
a[9990:]

,Order Date,Customer Name,Segment,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Profit
9990,2/26/2017,Dave Brooks,Consumer,Costa Mesa,California,92627,West,Furniture,Furnishings,91.960,2,15.6332
9991,2/26/2017,Dave Brooks,Consumer,Costa Mesa,California,92627,West,Technology,Phones,258.576,2,19.3932
9992,2/26/2017,Dave Brooks,Consumer,Costa Mesa,California,92627,West,Office Supplies,Paper,29.600,4,13.3200
9993,5/4/2017,Chris Cortes,Consumer,Westminster,California,92683,West,Office Supplies,Appliances,243.160,2,72.9480

In [8]:
a.iloc[1]

Order Date         11/8/2016
Customer Name    Claire Gute
Segment             Consumer
City               Henderson
State               Kentucky
Postal Code            42420
Region                 South
Category           Furniture
Sub-Category          Chairs
Sales                 731.94
Quantity                   3
Profit               219.582
Name: 1, dtype: object

In [17]:
b = a.to_numpy()

In [18]:
type(b)

numpy.ndarray

In [22]:
a.size

119928

In [21]:
a.shape

(9994, 12)

In [23]:
a.memory_usage()

Index              128
Order Date       79952
Customer Name    79952
Segment          79952
City             79952
State            79952
Postal Code      79952
Region           79952
Category         79952
Sub-Category     79952
Sales            79952
Quantity         79952
Profit           79952
dtype: int64

In [24]:
a.memory_usage(index=False)

Order Date       79952
Customer Name    79952
Segment          79952
City             79952
State            79952
Postal Code      79952
Region           79952
Category         79952
Sub-Category     79952
Sales            79952
Quantity         79952
Profit           79952
dtype: int64

In [1]:
import pandas as pd

In [3]:
jason_pd = pd.read_json('https://jsonplaceholder.typicode.com/users')

In [4]:
jason_pd

,id,name,username,email,address,phone,website,company
0,1,Leanne Graham,Bret,Sincere@april.biz,"{'street': 'Kulas Light', 'suite': 'Apt. 556',...",1-770-736-8031 x56442,hildegard.org,"{'name': 'Romaguera-Crona', 'catchPhrase': 'Mu..."
1,2,Ervin Howell,Antonette,Shanna@melissa.tv,"{'street': 'Victor Plains', 'suite': 'Suite 87...",010-692-6593 x09125,anastasia.net,"{'name': 'Deckow-Crist', 'catchPhrase': 'Proac..."
2,3,Clementine Bauch,Samantha,Nathan@yesenia.net,"{'street': 'Douglas Extension', 'suite': 'Suit...",1-463-123-4447,ramiro.info,"{'name': 'Romaguera-Jacobson', 'catchPhrase': ..."
3,4,Patricia Lebsack,Karianne,Julianne.OConner@kory.org,"{'street': 'Hoeger Mall', 'suite': 'Apt. 692',...",493-170-9623 x156,kale.biz,"{'name': 'Robel-Corkery', 'catchPhrase': 'Mult..."
4,5,Chelsey Dietrich,Kamren,Lucio_Hettinger@annie.ca,"{'street': 'Skiles Walks', 'suite': 'Suite 351...",(254)954-1289,demarco.info,"{'name': 'Keebler LLC', 'catchPhrase': 'User-c..."
5,6,Mrs. Dennis Schulist,Leopoldo_Corkery,Karley_Dach@jasper.info,"{'street': 'Norberto Crossing', 'suite': 'Apt....",1-477-935-8478 x6430,ola.org,"{'name': 'Considine-Lockman', 'catchPhrase': '..."
6,7,Kurtis Weissnat,Elwyn.Skiles,Telly.Hoeger@billy.biz,"{'street': 'Rex Trail', 'suite': 'Suite 280', ...",210.067.6132,elvis.io,"{'name': 'Johns Group', 'catchPhrase': 'Config..."
7,8,Nicholas Runolfsdottir V,Maxime_Nienow,Sherwood@rosamond.me,"{'street': 'Ellsworth Summit', 'suite': 'Suite...",586.493.6943 x140,jacynthe.com,"{'name': 'Abernathy Group', 'catchPhrase': 'Im..."
8,9,Glenna Reichert,Delphine,Chaim_McDermott@dana.io,"{'street': 'Dayna Park', 'suite': 'Suite 449',...",(775)976-6794 x41206,conrad.com,"{'name': 'Yost and Sons', 'catchPhrase': 'Swit..."
9,10,Clementina DuBuque,Moriah.Stanton,Rey.Padberg@karina.biz,"{'street': 'Kattie Turnpike', 'suite': 'Suite ...",024-648-3804,ambrose.net,"{'name': 'Hoeger LLC', 'catchPhrase': 'Central..."

In [15]:
df1 = pd.read_csv("demo.csv")
df1

,Order Date,Customer Name,Segment,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Profit
0,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,41.9136
1,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,219.5820
2,6/12/2016,Darrin Van Huff,Corporate,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,6.8714
3,10/11/2015,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,-383.0310
4,10/11/2015,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,2.5164
5,6/9/2014,Brosina Hoffman,Consumer,NaN,California,90032,West,Furniture,Furnishings,48.8600,7,14.1694
6,6/9/2014,NaN,Consumer,Los Angeles,California,90032,West,Office Supplies,Art,7.2800,4,1.9656
7,NaN,NaN,Consumer,Los Angeles,California,90032,West,Technology,Phones,907.1520,6,90.7152
8,6/9/2014,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Office Supplies,Binders,18.5040,3,5.7825

In [35]:
# df1 = pd.read_csv("demo.csv",nrows=1) # it will print given row
# df1 = pd.read_csv("demo.csv",usecols=[1,3]) # it eill print given column
# df1 = pd.read_csv("demo.csv",skiprows=[1,2,3]) # it will skip given rows
# df1 = pd.read_csv("demo.csv",index_col='City') # it will give index to that column
# df1 = pd.read_csv("demo.csv",index_col=3) # it will make index column for given input
# df1 = pd.read_csv("demo.csv",header=1) # it will make give row as an header
# df1 = pd.read_csv("demo.csv",header=None,prefix="col") # it will give header as given string
# df1 = pd.read_csv("demo.csv",names=['Date', 'Name', 'Segment', 'City', 'State','PinCode', 'Region', 'Category', 'Sub-Category', 'Sales','Quantity', 'Profit'])
# df1 = pd.read_csv("demo.csv",dtype={"Quantity":float})
# df1 = pd.read_csv("demo.csv",na_values=['Florida']) # it will write NaN for given string

df1

,Order Date,Customer Name,Segment,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Profit
0,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2.0,41.9136
1,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3.0,219.5820
2,6/12/2016,Darrin Van Huff,Corporate,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2.0,6.8714
3,10/11/2015,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5.0,-383.0310
4,10/11/2015,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2.0,2.5164
5,6/9/2014,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Furniture,Furnishings,48.8600,7.0,14.1694
6,6/9/2014,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Office Supplies,Art,7.2800,4.0,1.9656
7,6/9/2014,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Technology,Phones,907.1520,6.0,90.7152
8,6/9/2014,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Office Supplies,Binders,18.5040,3.0,5.7825

# 21/12/2022

In [2]:
import pandas as pd
df1 = pd.read_csv("demo.csv")

In [24]:
df1

,Order Date,Customer Name,Segment,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Profit
0,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,41.9136
1,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,219.5820
2,6/12/2016,Darrin Van Huff,Corporate,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,6.8714
3,10/11/2015,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,-383.0310
4,10/11/2015,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,2.5164
5,6/9/2014,Brosina Hoffman,Consumer,NaN,California,90032,West,Furniture,Furnishings,48.8600,7,14.1694
6,6/9/2014,NaN,Consumer,Los Angeles,California,90032,West,Office Supplies,Art,7.2800,4,NaN
7,NaN,NaN,Consumer,Los Angeles,California,90032,West,Technology,Phones,907.1520,6,NaN
8,6/9/2014,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Office Supplies,Binders,18.5040,3,5.7825

In [5]:
df1.fillna('hello')

,Order Date,Customer Name,Segment,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Profit
0,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,41.9136
1,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,219.5820
2,6/12/2016,Darrin Van Huff,Corporate,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,6.8714
3,10/11/2015,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,-383.0310
4,10/11/2015,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,2.5164
5,6/9/2014,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Furniture,Furnishings,48.8600,7,14.1694
6,6/9/2014,hello,Consumer,Los Angeles,California,90032,West,Office Supplies,Art,7.2800,4,1.9656
7,6/9/2014,hello,Consumer,Los Angeles,California,90032,West,Technology,Phones,907.1520,6,90.7152
8,6/9/2014,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Office Supplies,Binders,18.5040,3,5.7825

In [17]:
df1.fillna({'Customer Name':'unknown'})
df1

,Order Date,Customer Name,Segment,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Profit
0,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,41.9136
1,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,219.5820
2,6/12/2016,Darrin Van Huff,Corporate,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,6.8714
3,10/11/2015,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,-383.0310
4,10/11/2015,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,2.5164
5,6/9/2014,Brosina Hoffman,Consumer,NaN,California,90032,West,Furniture,Furnishings,48.8600,7,14.1694
6,6/9/2014,NaN,Consumer,Los Angeles,California,90032,West,Office Supplies,Art,7.2800,4,1.9656
7,NaN,NaN,Consumer,Los Angeles,California,90032,West,Technology,Phones,907.1520,6,90.7152
8,6/9/2014,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Office Supplies,Binders,18.5040,3,5.7825

In [3]:
df1.fillna(method='bfill')
df1

,Order Date,Customer Name,Segment,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Profit
0,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,41.9136
1,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,219.5820
2,6/12/2016,Darrin Van Huff,Corporate,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,6.8714
3,10/11/2015,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,-383.0310
4,10/11/2015,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,2.5164
5,6/9/2014,Brosina Hoffman,Consumer,NaN,California,90032,West,Furniture,Furnishings,48.8600,7,14.1694
6,6/9/2014,NaN,Consumer,Los Angeles,California,90032,West,Office Supplies,Art,7.2800,4,NaN
7,NaN,NaN,Consumer,Los Angeles,California,90032,West,Technology,Phones,907.1520,6,NaN
8,6/9/2014,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Office Supplies,Binders,18.5040,3,5.7825

In [3]:
df2 = pd.read_csv('sample1.csv')

In [23]:
# df2.fillna({'Customer Name':'None','Sub-Category':'nothing','Quantity':'0'})
# df2.fillna(0)
# df2.fillna(method="ffill")
# df2.fillna(method="bfill")
# df2.fillna(method="pad")
# df2.fillna(method="ffill ")

# df2.fillna(method='bfill',axis=0) #Must specify a fill 'value' or 'method'.
# df2.fillna(0,limit=2)
# df2.fillna(method="bfill",limit=1)
df2.fillna(3,inplace=True)
df2

,Order Date,Customer Name,Segment,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Profit
0,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,41.9136
1,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,219.5820
2,6/12/2016,Darrin Van Huff,Corporate,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,6.8714
3,10/11/2015,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,-383.0310
4,10/11/2015,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,2.5164
5,6/9/2014,Sean O'Donnell,Consumer,Los Angeles,Florida,90032,West,Furniture,Furnishings,48.8600,7,14.1694
6,6/9/2014,Sean O'Donnell,Consumer,Los Angeles,Florida,90032,West,Office Supplies,Art,7.2800,4,14.1694
7,6/9/2014,Sean O'Donnell,Consumer,Los Angeles,Florida,90032,West,Technology,Phones,907.1520,6,14.1694
8,6/9/2014,Sean O'Donnell,Consumer,Los Angeles,Florida,90032,West,Office Supplies,Binders,18.5040,3,14.1694
9,6/9/2014,Sean O'Donnell,Consumer,Los Angeles,Florida,90032,West,Office Supplies,Appliances,114.9000,5,14.1694
10,6/9/2014,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Furniture,Tables,1706.1840,9,85.3092
11,6/9/2014,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Technology,Phones,911.4240,4,68.3568
12,4/15/2017,Andrew Allen,Consumer,Concord,North Carolina,28027,South,Office Supplies,Paper,15.5520,3,5.4432
13,12/5/2016,Irene Maddox,Consumer,Seattle,Washington,98103,West,Office Supplies,Binders,407.9760,3,132.5922
14,11/22/2015,Harold Pawlan,Home Office,Fort Worth,Texas,76106,Central,Office Supplies,Appliances,68.8100,5,-123.8580
15,11/22/2015,Harold Pawlan,Home Office,Fort Worth,Texas,76106,Central,Office Supplies,Binders,2.5440,3,-3.8160
16,11/11/2014,Pete Kriz,Consumer,Madison,Wisconsin,53711,Central,Office Supplies,Storage,665.8800,6,13.3176
17,5/13/2014,Alejandro Grove,Consumer,West Jordan,Utah,84084,West,Office Supplies,Storage,55.5000,2,9.9900

In [4]:
df2.replace("Phones","iphone")

,Order Date,Customer Name,Segment,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Profit
0,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,41.9136
1,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,219.5820
2,6/12/2016,Darrin Van Huff,Corporate,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,6.8714
3,10/11/2015,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,-383.0310
4,10/11/2015,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,2.5164
5,6/9/2014,NaN,Consumer,Los Angeles,NaN,90032,West,Furniture,Furnishings,48.8600,7,14.1694
6,6/9/2014,NaN,Consumer,Los Angeles,NaN,90032,West,Office Supplies,Art,7.2800,4,NaN
7,6/9/2014,NaN,Consumer,Los Angeles,NaN,90032,West,Technology,iphone,907.1520,6,NaN
8,6/9/2014,NaN,Consumer,Los Angeles,NaN,90032,West,Office Supplies,Binders,18.5040,3,NaN
9,6/9/2014,NaN,Consumer,Los Angeles,NaN,90032,West,Office Supplies,Appliances,114.9000,5,NaN
10,6/9/2014,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Furniture,Tables,1706.1840,9,85.3092
11,6/9/2014,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Technology,iphone,911.4240,4,68.3568
12,4/15/2017,Andrew Allen,Consumer,Concord,North Carolina,28027,South,Office Supplies,Paper,15.5520,3,5.4432
13,12/5/2016,Irene Maddox,Consumer,Seattle,Washington,98103,West,Office Supplies,Binders,407.9760,3,132.5922
14,11/22/2015,Harold Pawlan,Home Office,Fort Worth,Texas,76106,Central,Office Supplies,Appliances,68.8100,5,-123.8580
15,11/22/2015,Harold Pawlan,Home Office,Fort Worth,Texas,76106,Central,Office Supplies,Binders,2.5440,3,-3.8160
16,11/11/2014,Pete Kriz,Consumer,Madison,Wisconsin,53711,Central,Office Supplies,Storage,665.8800,6,13.3176
17,5/13/2014,Alejandro Grove,Consumer,West Jordan,Utah,84084,West,Office Supplies,Storage,55.5000,2,9.9900

# 22/12/2022

In [5]:
df2.interpolate(method="linear")

,Order Date,Customer Name,Segment,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Profit
0,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,41.91360
1,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,219.58200
2,6/12/2016,Darrin Van Huff,Corporate,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,6.87140
3,10/11/2015,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,-383.03100
4,10/11/2015,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,2.51640
5,6/9/2014,NaN,Consumer,Los Angeles,NaN,90032,West,Furniture,Furnishings,48.8600,7,14.16940
6,6/9/2014,NaN,Consumer,Los Angeles,NaN,90032,West,Office Supplies,Art,7.2800,4,28.39736
7,6/9/2014,NaN,Consumer,Los Angeles,NaN,90032,West,Technology,Phones,907.1520,6,42.62532
8,6/9/2014,NaN,Consumer,Los Angeles,NaN,90032,West,Office Supplies,Binders,18.5040,3,56.85328
9,6/9/2014,NaN,Consumer,Los Angeles,NaN,90032,West,Office Supplies,Appliances,114.9000,5,71.08124
10,6/9/2014,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Furniture,Tables,1706.1840,9,85.30920
11,6/9/2014,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Technology,Phones,911.4240,4,68.35680
12,4/15/2017,Andrew Allen,Consumer,Concord,North Carolina,28027,South,Office Supplies,Paper,15.5520,3,5.44320
13,12/5/2016,Irene Maddox,Consumer,Seattle,Washington,98103,West,Office Supplies,Binders,407.9760,3,132.59220
14,11/22/2015,Harold Pawlan,Home Office,Fort Worth,Texas,76106,Central,Office Supplies,Appliances,68.8100,5,-123.85800
15,11/22/2015,Harold Pawlan,Home Office,Fort Worth,Texas,76106,Central,Office Supplies,Binders,2.5440,3,-3.81600
16,11/11/2014,Pete Kriz,Consumer,Madison,Wisconsin,53711,Central,Office Supplies,Storage,665.8800,6,13.31760
17,5/13/2014,Alejandro Grove,Consumer,West Jordan,Utah,84084,West,Office Supplies,Storage,55.5000,2,9.99000

In [6]:
df2.interpolate(method="polynomial",order=1)

,Order Date,Customer Name,Segment,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Profit
0,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,41.91360
1,11/8/2016,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,219.58200
2,6/12/2016,Darrin Van Huff,Corporate,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,6.87140
3,10/11/2015,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,-383.03100
4,10/11/2015,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,2.51640
5,6/9/2014,NaN,Consumer,Los Angeles,NaN,90032,West,Furniture,Furnishings,48.8600,7,14.16940
6,6/9/2014,NaN,Consumer,Los Angeles,NaN,90032,West,Office Supplies,Art,7.2800,4,28.39736
7,6/9/2014,NaN,Consumer,Los Angeles,NaN,90032,West,Technology,Phones,907.1520,6,42.62532
8,6/9/2014,NaN,Consumer,Los Angeles,NaN,90032,West,Office Supplies,Binders,18.5040,3,56.85328
9,6/9/2014,NaN,Consumer,Los Angeles,NaN,90032,West,Office Supplies,Appliances,114.9000,5,71.08124
10,6/9/2014,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Furniture,Tables,1706.1840,9,85.30920
11,6/9/2014,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Technology,Phones,911.4240,4,68.35680
12,4/15/2017,Andrew Allen,Consumer,Concord,North Carolina,28027,South,Office Supplies,Paper,15.5520,3,5.44320
13,12/5/2016,Irene Maddox,Consumer,Seattle,Washington,98103,West,Office Supplies,Binders,407.9760,3,132.59220
14,11/22/2015,Harold Pawlan,Home Office,Fort Worth,Texas,76106,Central,Office Supplies,Appliances,68.8100,5,-123.85800
15,11/22/2015,Harold Pawlan,Home Office,Fort Worth,Texas,76106,Central,Office Supplies,Binders,2.5440,3,-3.81600
16,11/11/2014,Pete Kriz,Consumer,Madison,Wisconsin,53711,Central,Office Supplies,Storage,665.8800,6,13.31760
17,5/13/2014,Alejandro Grove,Consumer,West Jordan,Utah,84084,West,Office Supplies,Storage,55.5000,2,9.99000

In [7]:
df2 = pd.read_csv("sample1.csv",parse_dates=["Order Date"])

In [8]:
df2

,Order Date,Customer Name,Segment,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Profit
0,2016-11-08,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,41.9136
1,2016-11-08,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,219.5820
2,2016-06-12,Darrin Van Huff,Corporate,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,6.8714
3,2015-10-11,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,-383.0310
4,2015-10-11,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,2.5164
5,2014-06-09,NaN,Consumer,Los Angeles,NaN,90032,West,Furniture,Furnishings,48.8600,7,14.1694
6,2014-06-09,NaN,Consumer,Los Angeles,NaN,90032,West,Office Supplies,Art,7.2800,4,NaN
7,2014-06-09,NaN,Consumer,Los Angeles,NaN,90032,West,Technology,Phones,907.1520,6,NaN
8,2014-06-09,NaN,Consumer,Los Angeles,NaN,90032,West,Office Supplies,Binders,18.5040,3,NaN
9,2014-06-09,NaN,Consumer,Los Angeles,NaN,90032,West,Office Supplies,Appliances,114.9000,5,NaN
10,2014-06-09,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Furniture,Tables,1706.1840,9,85.3092
11,2014-06-09,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Technology,Phones,911.4240,4,68.3568
12,2017-04-15,Andrew Allen,Consumer,Concord,North Carolina,28027,South,Office Supplies,Paper,15.5520,3,5.4432
13,2016-12-05,Irene Maddox,Consumer,Seattle,Washington,98103,West,Office Supplies,Binders,407.9760,3,132.5922
14,2015-11-22,Harold Pawlan,Home Office,Fort Worth,Texas,76106,Central,Office Supplies,Appliances,68.8100,5,-123.8580
15,2015-11-22,Harold Pawlan,Home Office,Fort Worth,Texas,76106,Central,Office Supplies,Binders,2.5440,3,-3.8160
16,2014-11-11,Pete Kriz,Consumer,Madison,Wisconsin,53711,Central,Office Supplies,Storage,665.8800,6,13.3176
17,2014-05-13,Alejandro Grove,Consumer,West Jordan,Utah,84084,West,Office Supplies,Storage,55.5000,2,9.9900

In [10]:
df2 = pd.read_csv("sample1.csv",parse_dates=["Order Date"],index_col="Order Date")
df2

,Customer Name,Segment,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Profit
Order Date,,,,,,,,,,,
2016-11-08,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,41.9136
2016-11-08,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,219.5820
2016-06-12,Darrin Van Huff,Corporate,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,6.8714
2015-10-11,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,-383.0310
2015-10-11,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,2.5164
2014-06-09,NaN,Consumer,Los Angeles,NaN,90032,West,Furniture,Furnishings,48.8600,7,14.1694
2014-06-09,NaN,Consumer,Los Angeles,NaN,90032,West,Office Supplies,Art,7.2800,4,NaN
2014-06-09,NaN,Consumer,Los Angeles,NaN,90032,West,Technology,Phones,907.1520,6,NaN
2014-06-09,NaN,Consumer,Los Angeles,NaN,90032,West,Office Supplies,Binders,18.5040,3,NaN
2014-06-09,NaN,Consumer,Los Angeles,NaN,90032,West,Office Supplies,Appliances,114.9000,5,NaN
2014-06-09,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Furniture,Tables,1706.1840,9,85.3092
2014-06-09,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Technology,Phones,911.4240,4,68.3568
2017-04-15,Andrew Allen,Consumer,Concord,North Carolina,28027,South,Office Supplies,Paper,15.5520,3,5.4432
2016-12-05,Irene Maddox,Consumer,Seattle,Washington,98103,West,Office Supplies,Binders,407.9760,3,132.5922
2015-11-22,Harold Pawlan,Home Office,Fort Worth,Texas,76106,Central,Office Supplies,Appliances,68.8100,5,-123.8580
2015-11-22,Harold Pawlan,Home Office,Fort Worth,Texas,76106,Central,Office Supplies,Binders,2.5440,3,-3.8160
2014-11-11,Pete Kriz,Consumer,Madison,Wisconsin,53711,Central,Office Supplies,Storage,665.8800,6,13.3176
2014-05-13,Alejandro Grove,Consumer,West Jordan,Utah,84084,West,Office Supplies,Storage,55.5000,2,9.9900

In [11]:
df2.interpolate(method="time")

,Customer Name,Segment,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Profit
Order Date,,,,,,,,,,,
2016-11-08,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,41.9136
2016-11-08,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,219.5820
2016-06-12,Darrin Van Huff,Corporate,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,6.8714
2015-10-11,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,-383.0310
2015-10-11,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,2.5164
2014-06-09,NaN,Consumer,Los Angeles,NaN,90032,West,Furniture,Furnishings,48.8600,7,14.1694
2014-06-09,NaN,Consumer,Los Angeles,NaN,90032,West,Office Supplies,Art,7.2800,4,68.3568
2014-06-09,NaN,Consumer,Los Angeles,NaN,90032,West,Technology,Phones,907.1520,6,68.3568
2014-06-09,NaN,Consumer,Los Angeles,NaN,90032,West,Office Supplies,Binders,18.5040,3,68.3568
2014-06-09,NaN,Consumer,Los Angeles,NaN,90032,West,Office Supplies,Appliances,114.9000,5,68.3568
2014-06-09,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Furniture,Tables,1706.1840,9,85.3092
2014-06-09,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Technology,Phones,911.4240,4,68.3568
2017-04-15,Andrew Allen,Consumer,Concord,North Carolina,28027,South,Office Supplies,Paper,15.5520,3,5.4432
2016-12-05,Irene Maddox,Consumer,Seattle,Washington,98103,West,Office Supplies,Binders,407.9760,3,132.5922
2015-11-22,Harold Pawlan,Home Office,Fort Worth,Texas,76106,Central,Office Supplies,Appliances,68.8100,5,-123.8580
2015-11-22,Harold Pawlan,Home Office,Fort Worth,Texas,76106,Central,Office Supplies,Binders,2.5440,3,-3.8160
2014-11-11,Pete Kriz,Consumer,Madison,Wisconsin,53711,Central,Office Supplies,Storage,665.8800,6,13.3176
2014-05-13,Alejandro Grove,Consumer,West Jordan,Utah,84084,West,Office Supplies,Storage,55.5000,2,9.9900

In [12]:
df2 = pd.read_csv("sample1.csv",parse_dates=["Order Date"],index_col="Order Date")
df2.interpolate(method="linear")

,Customer Name,Segment,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Profit
Order Date,,,,,,,,,,,
2016-11-08,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,41.91360
2016-11-08,Claire Gute,Consumer,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,219.58200
2016-06-12,Darrin Van Huff,Corporate,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,6.87140
2015-10-11,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,-383.03100
2015-10-11,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,2.51640
2014-06-09,NaN,Consumer,Los Angeles,NaN,90032,West,Furniture,Furnishings,48.8600,7,14.16940
2014-06-09,NaN,Consumer,Los Angeles,NaN,90032,West,Office Supplies,Art,7.2800,4,28.39736
2014-06-09,NaN,Consumer,Los Angeles,NaN,90032,West,Technology,Phones,907.1520,6,42.62532
2014-06-09,NaN,Consumer,Los Angeles,NaN,90032,West,Office Supplies,Binders,18.5040,3,56.85328
2014-06-09,NaN,Consumer,Los Angeles,NaN,90032,West,Office Supplies,Appliances,114.9000,5,71.08124
2014-06-09,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Furniture,Tables,1706.1840,9,85.30920
2014-06-09,Brosina Hoffman,Consumer,Los Angeles,California,90032,West,Technology,Phones,911.4240,4,68.35680
2017-04-15,Andrew Allen,Consumer,Concord,North Carolina,28027,South,Office Supplies,Paper,15.5520,3,5.44320
2016-12-05,Irene Maddox,Consumer,Seattle,Washington,98103,West,Office Supplies,Binders,407.9760,3,132.59220
2015-11-22,Harold Pawlan,Home Office,Fort Worth,Texas,76106,Central,Office Supplies,Appliances,68.8100,5,-123.85800
2015-11-22,Harold Pawlan,Home Office,Fort Worth,Texas,76106,Central,Office Supplies,Binders,2.5440,3,-3.81600
2014-11-11,Pete Kriz,Consumer,Madison,Wisconsin,53711,Central,Office Supplies,Storage,665.8800,6,13.31760
2014-05-13,Alejandro Grove,Consumer,West Jordan,Utah,84084,West,Office Supplies,Storage,55.5000,2,9.99000

# 23/12/2022